name: "Validations"
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:

  # note: changing the job name requires a quality gate reference change in .github/workflows/release.yaml
  validations:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Bootstrap environment
        uses: ./.github/actions/bootstrap

      - name: Run static analysis
        run: make static-analysis

      - name: Run unit tests
        run: make unit

      - name: Run integration tests
        run: make integration

      - name: Build test
        run: make build

      - name: Run CLI tests
        run: make cli
