name: "Validations"
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:

  # note: changing the job name requires a quality gate reference change in .github/workflows/release.yaml
  validations:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Bootstrap environment
        uses: ./.github/actions/bootstrap

      - name: Run static analysis
        run: make static-analysis

      - name: Run unit tests
        run: make unit

      - name: Build test
        run: make build

      - name: Run CLI tests
        run: make cli
