name: "Validations"
on:
  workflow_dispatch:
  push:

env:
  PYTHON_VERSION: "3.10"
  POETRY_VERSION: "1.3.2"

jobs:

  # note: changing the job name requires a quality gate reference change in .github/workflows/release.yaml
  validations:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install poetry
        uses: abatilo/actions-poetry@v2.3.0
        with:
          poetry-version: ${{ env.POETRY_VERSION }}

      - name: Cache Poetry virtualenv
        uses: actions/cache@v3
        id: cache
        with:
          path: ~/.virtualenvs
          key: poetry-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            poetry-${{ hashFiles('poetry.lock') }}

      - name: Setup Poetry config
        run: |
          poetry config virtualenvs.in-project false
          poetry config virtualenvs.path ~/.virtualenvs

      - name: Install dependencies and package
        run: poetry install
        if: steps.cache.outputs.cache-hit != 'true'

      - name: Run static analysis
        run: make static-analysis

      - name: Run unit tests
        run: poetry run pytest

      - name: Build test
        run: poetry run make build

      - name: Run CLI tests
        run: make cli
